{% extends 'base.html' %}

{% block container %}
    {% set temp_str = direction[0].lower() + direction[1:] %}
    <h1 class="display-5 mt-4">Летим {{ temp_str }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} {{ summary.name_obj }}, по цене {{ summary.txt_price }}, длительностью {{ summary.txt_nights }}</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src={{ tour["picture"] }} class="card-img-top img-fluid" alt="">
          <div class="card-body">
            {% set n_stars = tour.stars|int %}{% set str_stars = "".ljust( n_stars,"★") %}
            <h2 class="h5 card-title">{{ tour.title }} {{ str_stars }}</h2>
            <p class="card-text">{{ tour.country }} {{ tour.date }}
            <p class="card-text">{{ tour.description }}</p>
            <a href="/tours/{{ id }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}