{% extends 'base.html' %}

{% block container %}

    <!-- HERO -->
    <section class="jumbotron text-center mt-4">
      <h1 class="display-4">Лучшие туры для отдыха и работы</h1>
      <p class="lead">{{ main.subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ main.description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src={{ tour["picture"] }} class="card-img-top img-fluid" alt="">
          <div class="card-body">
            {% set n_stars = tour.stars|int %}{% set str_stars = "".ljust( n_stars,"★") %}
            <h2 class="h5 card-title">{{ tour.title }} {{ str_stars }}</h2>
            <h3 class="card-text">{{ tour.country }}</h3>
            <h5 class="card-text">Вылет {{ main.departures[tour["departure"]] }}</h5>
            <p class="card-text">{{ tour.description }}</p>
            <a href="/tours/{{ id }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}


{% endblock %}